---
import type { CollectionEntry } from "astro:content";

import categoryMap from "@/data/categoryMap";

interface Props {
  post: CollectionEntry<"blogPost">;
}

const { data } = Astro.props.post;

const categoryLabel = categoryMap.get(data.category)?.label;
const lastRevision = data.revisions?.at(-1);

function formatDate(input: string): string {
  return input
    .trim()
    .replace(/^(\d{4,})-0?(\d+)-0?(\d+)T(\d+).*$/, "$1년 $2월 $3일 $4시");
}

function joinKeywords(items: string[]): string {
  return items.filter((value) => value !== "__EMPTY").join(", ");
}

const subKeywords = joinKeywords(data.keywords.sub);
const mainKeywords =
  joinKeywords(data.keywords.main) + (subKeywords ? "," : "");
---

<section class="frontmatter">
  {
    data.thumbnail && (
      <img
        class="hero"
        role="presentation"
        alt={data.thumbnailAlt ?? ""}
        src={data.thumbnail.src}
        width={data.thumbnail.width}
        height={data.thumbnail.height}
      />
    )
  }

  <div class="properties">
    {categoryLabel ? <div class="category">[{categoryLabel}]</div> : null}
    <h1 class="title">{data.title}</h1>

    {data.description && <p class="description">{data.description}</p>}

    <dl class="kvpairs">
      <div class="item">
        <dt class="key">최초 게시</dt>
        <dd class="value">{formatDate(data.date)}</dd>
      </div>

      {
        lastRevision && (
          <div class="item">
            <dt class="key">최근 수정</dt>
            <dd class="value">{formatDate(lastRevision.date)}</dd>
            {lastRevision.message && (
              <dd class="value">{lastRevision.message}</dd>
            )}
          </div>
        )
      }

      {
        mainKeywords || subKeywords ? (
          <div class="item">
            <dt class="key">키워드</dt>
            {mainKeywords ? (
              <dd class="value">{mainKeywords}</dd>
            ) : (
              <dd class="value">(메인 키워드 없음)</dd>
            )}
            {subKeywords ? <dd class="value">{subKeywords}</dd> : null}
          </div>
        ) : null
      }
    </dl>
  </div>
</section>

<style>
  .frontmatter {
    line-height: 1.6;
  }

  .hero {
    display: block;

    margin-bottom: var(--gap-column);
    width: 100%;
    height: auto;
  }

  .hero + .properties {
    margin: var(--gap-column) var(--gap-column) var(--gap-section);
  }

  .properties {
    margin: calc(1.5 * var(--gap-column)) var(--gap-column);
  }

  .category {
    margin: 0 0 calc(0.5 * var(--gap-unit)) 0;
    padding: 0;

    line-height: 1;
    color: var(--color-gray-08);
  }

  .title {
    --font-size: var(--text-post-h1);

    margin: 0;

    line-height: calc(var(--font-size) + 0.8rem);
    font-size: var(--font-size);
    font-weight: var(--font-weight-sans-bold);
  }

  @media (min-width: 600px) {
    .title {
      --font-size: var(--text-post-h1-md);
    }
  }

  .properties .description {
    margin: calc(2 * var(--gap-unit)) 0 0;

    color: var(--color-text-bright-1);
  }

  .kvpairs {
    margin: calc(3 * var(--gap-unit)) 0 0;
    color: var(--color-text-bright-1);
    font-size: 0.875rem; /* 14px */
  }

  .item {
    display: grid;
    grid-template-columns: var(--column-width-1-of-4) 1fr;
    gap: 0 var(--gap-column);

    margin-bottom: var(--gap-unit);
  }

  @media (min-width: 600px) {
    .item {
      grid-template-columns: var(--column-width-1-of-6) 1fr;
    }
  }

  .key {
    grid-column: 1;
    grid-row: 1;
  }

  .value {
    grid-column: 2;

    margin: 0;
  }

  .value + .value {
    color: var(--color-text-bright-2);
  }
</style>
