---
import { join } from "node:path";

import type { CollectionEntry } from "astro:content";

import thumbnailFallback from "@/assets/thumbnail-fallback.png";
import categories from "@/data/blog-post/metadata/categories.json";
import fixPath from "@/utils/fixPath";

export interface Props {
  entry: CollectionEntry<"blogPost">;
}

const { entry } = Astro.props;

const datePath = entry.data.date.trim().split("T")[0].replaceAll("-", "/");
const path = join(datePath, entry.data.slug, "./");

const formattedDate = entry.data.date
  .trim()
  .replace(/^(\d{4,})-0?(\d+)-0?(\d+).*$/, "$1년 $2월 $3일");

const categoryLabel = categories.find(
  ({ id }) => id === entry.data.category,
)?.label;

const invalidKeywords = new Set(["", "__EMPTY"]);
const mainKeywords = entry.data.keywords.main.filter(
  (value) => !invalidKeywords.has(value),
);
---

<article class="item">
  <div class="text">
    <h3 class="title">
      <a href={fixPath(path ?? "/404")}>
        {entry.data.title}
      </a>
    </h3>

    <div class="description">{entry.data.description}</div>

    <div class="metadata">
      <div>{formattedDate}</div>
      <div>{categoryLabel}</div>
      {
        mainKeywords.length > 0 && (
          <div class="keywords">{mainKeywords.join(", ")}</div>
        )
      }
    </div>
  </div>

  <div class="thumbnail">
    {
      entry.data.thumbnail ? (
        <img
          class="image"
          src={entry.data.thumbnail.src}
          alt={entry.data.thumbnailAlt ?? ""}
          width={entry.data.thumbnail.width / 10}
          height={entry.data.thumbnail.height / 10}
        />
      ) : (
        <img
          class="image"
          src={thumbnailFallback.src}
          alt=""
          width={thumbnailFallback.width / 10}
          height={thumbnailFallback.height / 10}
        />
      )
    }
  </div>
</article>
